.navbar-gearhub {
    background-color: var(--primary-color);
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}

main.container {
    min-height: calc(100vh - 240px);
}

.section-white {
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}

.post-detail-wrapper {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 60px;
}

.contact-wrapper {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
    padding: 60px 0;
}

@media (max-width:480px) {
    main.container {
        min-height: calc(100vh - 360px)
    }

    .contact-wrapper {
        padding: 25px 30px;
    }
}