{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}GearHub Trang Chủ{% endblock %}

{% block content %}
<section class="hero-banner">
    {% if banners %}
    <div id="heroBannerCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-indicators">
            {% for banner in banners %}
                <button type="button" data-bs-target="#heroBannerCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
                    class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% endif %}"
                    aria-label="Slide {{ forloop.counter }}">
                </button>
            {% endfor %}
        </div>

        <div class="carousel-inner">
            {% for banner in banners %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="carousel-banner-item" style="background-image: url('{{ banner.image.url }}');">
                        {% if banner.title %}
                        <div class="carousel-banner-overlay"></div>

                        <div class="carousel-caption">
                            <h1>{{ banner.title }}</h1>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#heroBannerCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Trước</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#heroBannerCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Sau</span>
        </button>
    </div>
    {% else %}
    <div class="banner p-5 text-center text-white">
        <h1>Chào mừng đến với GearHub</h1>
    </div>
    {% endif %}
</section>

<section class="py-5">
    <div class="text-center mb-5">
        <h2 class="section-title">Những sản phẩm nổi bật</h2>
    </div>
    
    <div class="category-filter">
        {% for cate in categories %}
            <a href="{% url 'home' cate.slug %}" class="filter-btn {% if cate.slug == current_slug %}active{% endif %}">
                {{ cate.name }}
            </a>
        {% endfor %}
    </div>

    <div class="row g-4">
        {% for product in featured_products %}
        <div class="col-md-6 col-lg-3">
            <div class="product-card">
                <div class="product-img-wrapper">
                    <a href="#" class="product-img">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                </div>

                <div class="product-body">
                    <h3 class="product-name">{{ product.name }}</h3>
                    <p class="product-price">{{ product.price|intcomma }} vnđ</p>
                    <button class="btn-full-primary">Thêm vào giỏ hàng</button>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="py-5">
    <div class="text-center mb-5">
        <h2 class="section-title">Tin tức mới nhất</h2>
    </div>
    
    <div class="row g-4">
        {% for post in posts %}
        <div class="col-md-6 col-lg-3">
            <div class="post-card">
                <div class="post-img-wrapper">
                    <a href="{% url 'post_detail' post.id %}" class="post-img">
                        <img src="{{ post.image.url|default:'' }}" alt="{{ post.title }}">
                    </a>
                </div>

                <div class="post-body">
                    <h3 class="post-title">{{ post.title }}</h3>
                    <p class="post-content">{{ post.content }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}