{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}GearHub - Tin tức{% endblock %}

{% block content %}
<section>
    <div class="text-center mb-5">
        <h2 class="section-title">
            Tất cả các tin tức
        </h2>
    </div>

    <div class="row g-4">
        
        <!-- Post card -->
        {% for post in posts %}
        <div class="col-md-6 col-lg-3">
            <div class="post-card">
                <div class="post-img-wrapper">
                    <a href="{% url 'post_detail' post.id %}" class="post-img">
                        {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                        {% else %}
                        <img src="{% static 'image/banner 1.png' %}" alt="{{ post.title }}">
                        {% endif %}
                    </a>
                </div>

                <div class="post-body">
                    <h3 class="post-title">{{ post.title }}</h3>
                    <p class="post-content">{{ post.content }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Không có bài viết nào.</p>
        {% endfor %}

    </div>
</section>
{% endblock %}