{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}GearHub - Tin tức chi tiết{% endblock %}

{% block content %}
<section class="post-detail-wrapper">
    <div class="post-detail-img mb-4">
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-img">
        {% else %}
            <img src="{% static 'image/banner 1.png' %}" alt="{{ post.title }}" class="post-img">
        {% endif %}
    </div>

    <div class="post-detail-title text-center mb-3">
        <h2 class="post-title">{{ post.title }}</h2>
    </div>

    <div class="post-meta text-center">
        <span class="post-date">{{ post.created_at|date:"d/m/Y" }}</span>
    </div>

    <div class="post-detail-content">
        <div class="post-content">
            {{ post.content|linebreaks }}
        </div>
    </div>
</section>
{% endblock %}